# Folders
/test/*
/test02/*
/test02/output/*
/analyze/*
__pycache__/
.venv/
.idea/

# Files
*.pyc
.env

# Include specific files


!/analyze/
!/analyze/cv_analysis-by-psi.png

!/test02/
!/test02/runit.sh
!/test02/output/
!/test02/output/plumed.dat
!/test02/output/config.txt
!/test02/output/dihedral_encoder_plumed.pt

