# Folders
test11/*
test/*
analyze/*
__pycache__/
.venv/
.idea/

# Files
*.pyc
.env

# Include specific files
!test/runit.sh
!analyze/cv_analysis_implemented_code.png
!analyze/cv_analysis_toroidal_implemented_code.png

