# Folders
__pycache__/
.venv/
.idea/
cvformer-test/

# Files
*.pyc
.env

# Include specific files inside cvformer-test
!cvformer-test/analyze/
!cvformer-test/analyze/mutual_information_latent.ipynb
!cvformer-test/analyze/residue_importance.ipynb
